body {
    font-family: 'Roboto';
    font-size: 18px;
    color: #000000;
    background-color: #f1f2f5;
}
/* HEADER AREA */
header {
    display: flex;
    height: 64px;
    min-width: 100%;
    align-items: center;
    position: relative;
    background-color: #f5f5f8;
    box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 0.57);
    position: relative;
    z-index: 1;
}
.logo {
    display: flex;
    margin-left: 24px;
    align-items: center;
    flex-grow: 1;
}
.logo img {
    height: 45px;
    width: auto;
}
.logo p {
    text-transform: uppercase;
    color: #3d4054;
    font-size: 28px;
}
strong {
    font-weight: 850;
}

/*NAVIGATION*/

.navigation {
    margin-right: 24px;
}
nav span {
    margin-right: 16px;
}
.navigation a {
    text-decoration: none;
    color: #3d4054;
}

/* CONTAINER ONE */
.container {
    margin: 0 auto;
}
.mainbanner{
    display: flex;
    background-color: #b8b8ba;
    color: #383838;
}
.mainbanner img {
    margin: 32px 24px;
    width: 60%;
}
.learn {
    display: flex;
    height: auto;
    margin-left: 24px;
    margin-right: 72px;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.learn h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1;
    margin-right: 100px;
}
.learn h3 {
    font-size: 22px;
    font-weight: 400;
}
.banner a {
    text-decoration: none;
    background-color: #777778;
    color: #dcdcde;
}
.banner .btn {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 60px;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 0.57);
    transition-property: background-color;
    transition-duration: 220ms;
}

/* CONTAINER ONE BANNER TWO*/
.banner-family {
    display: flex;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid #d7d9e2;
    background-color: #f5f5f8;
}

.main img {
    margin: 32px 24px;
    width: 90%;
}
.banners.info {
    display: flex;
    
    flex-direction: column;  
    border-right: 1px solid #babccd;
}

.banners.info h2 {
    color: #383838;
    margin-top: 32px;
    margin-left: 24px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: .5px;
}
.banners.info p {
    margin-left: 24px;
    font-size: 20px;
    color: #3D4054;
    font-weight: 400;
}
.banners.info h5 {
    font-size: 16px;
    margin-left: 24px;
    margin-bottom: 32px;
    color: #383838;
}

/* right side */

.banners.small {
    display: flex;
    margin-top: 32x;
    width: 40%;
    align-content: flex-start;
}
section {
    display: flex;
    border-bottom: 1px solid #d7d9e2;
    margin-left: 24px;
}
section:last-child {
    background-color: #d7d9e2;
}
.info {
    display: flex;
    flex-direction: column;
    width: 65%;
}
section img {
    margin-top: 16px;
    width: 65%;
}
section h3 {
    font-size: 22px;
    font-weight: 400;
    margin-right: 24px;
    color: #383838;
}
section p {
    margin-top: 8px;
    font-size: 18px;
    color: #3d4054;
}
section a {
    text-decoration: none;
    color: darkblue;
    font-weight: 500px;
    transition-property: color;
    transition-duration: 150ms;
}
section a:hover {
    color: #4996B2;
}
section a:active {
    color: #39768C;
}

.image1 {
    height: auto;
    margin: 32px 24px1;
}

/* SECTION THREE */

.containerthree {
    margin-top: 0;
    margin-bottom: 32px;
    margin-right: 72px;
    margin-left: 72px;
    background-color: #dcdcde;
    width: 100%;
}
.containerthree h1 {
    text-align: center;
    color: #383838;
    padding-top: 32px;
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: .75px;
}

.box-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    align-content: flex-start;
}
.box {
    box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 0.57);
    background-color: #F9F6F4;
    box-sizing: content-box;
    border: 32px;
    margin-bottom: 20px;
}
.box h3 {
    margin-top: 16px;
    margin-left: 16px;
    color: #383838;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
.box h5 {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    text-transform: uppercase;
    color: #383838;
    font-size: 16px;
    letter-spacing: 1px;
}
.box p {
    margin-left: 16px;
    margin-bottom: 24px;
    width: 400px;
    color: #3D4054;
    font-size: 18px;
    letter-spacing: -0.5px;
}
.box img {
    height: auto;
    width: 400px;
}



/* CONTAINER FOUR */
.containerthesis h1 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.containerthesis {
    border-top: 2px solid #d7d9e2;
    background-color: #f5f5f8;
}
.containerfour {
    display: flex;
    margin: 0 auto;
    background-color: #f5f5f8;
}

video {
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    width: 85%;
    height: auto;
}

.video-content {
    display: flex;
    flex-direction: column;
    width: 550px;
}

#vid {
    display: flex;
    background-color: #E9E0DB;
}
#vid h3 {
    margin-right: 34px;
    margin-left: 15px;
    color: #383838;
    font-size: 22px;
    font-weight: 400;
}
#vid p {
    margin-top: 1.3rem;
    margin-right: 34px;
    margin-left: 20px;
    color: #3D4054;
    font-size: 20px;
    letter-spacing: .5px;
}

#vid2 {
    display: flex;
}
#vid2 h3 {
    margin-right: 34px;
    margin-left: 15px;
    color: #383838;
    font-size: 22px;
    font-weight: 400;
}
#vid2 p {
    margin-top: 1.3rem;
    margin-right: 34px;
    margin-left: 20px;
    color: #3D4054;
    font-size: 20px;
    letter-spacing: .5px;
}

/* FOOTER */
footer {
    display: flex;
    background-color: #F9F6F4;
    border-top: 2px solid #E9E0DB;
    padding-top: 16px;
    padding-bottom: 80px;
}
.footer {
    display: flex;
    margin-left: 24px;
    align-items: center;
    flex-grow: 1;
    background-color: #f5f5f8;
    color: #383838;
}
.footernav a {
    text-decoration: none;
    transition-property: color;
    transition-duration: 150ms;
}
.footernav a:hover {
    color: #4996B2;
}
.footernav a:active {
    color: #39768C;
}