body {
    font-family: 'Roboto';
    font-size: 18px;
    color: #000000;
    background-color: #f1f2f5;
    font-weight: 100;
}
/* HEADER AREA */
header {
    display: flex;
    height: 64px;
    min-width: 100%;
    align-items: center;
    position: relative;
    background-color: #f5f5f8;
    box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 0.57);
    position: relative;
    z-index: 1;
}
.logo {
    display: flex;
    margin-left: 24px;
    align-items: center;
    flex-grow: 1;
}
.logo img {
    height: 45px;
    width: auto;
}
.logo p {
    text-transform: uppercase;
    color: #3d4054;
    font-size: 28px;
}
strong {
    font-weight: 850;
}

/*NAVIGATION*/

.navigation {
    margin-right: 24px;
}
nav span {
    margin-right: 16px;
}
.navigation a {
    text-decoration: none;
    color: #3d4054;
}

/* FIRST PART */
.container {
    margin: 0 auto;
}
.mainbanner{
    display: flex;
    background-color: #E6E7ED;
    color: #3D4054;
}
.mainbanner img {
    margin: 32px 24px;
    width: 60%;
}
.learn {
    display: flex;
    height: auto;
    margin-left: 24px;
    margin-right: 72px;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.learn h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1;
    margin-right: 100px;
}
.learn h3 {
    font-size: 22px;
    font-weight: 400;
}
.banner a {
    text-decoration: none;
    background-color: #c8cbd8;
    color: #000000;
}
.banner .btn {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 60px;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 0.57);
    transition-property: background-color;
    transition-duration: 220ms;
}


/* PART TWO */