body {
    font-family: 'Roboto';
    font-size: 18px;
    color: #000000;
    background-color: #f1f2f5;
    font-weight: 100;
}
/* HEADER AREA */
header {
    display: flex;
    height: 64px;
    min-width: 100%;
    align-items: center;
    position: relative;
    background-color: #f1f2f5;
    box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 0.57);
    position: relative;
    z-index: 1;
}
.logo {
    display: flex;
    margin-left: 24px;
    align-items: center;
    flex-grow: 1;
}
.logo img {
    height: 45px;
    width: auto;
}
.logo p {
    text-transform: uppercase;
    color: #515570;
    font-size: 28px;
}
strong {
    font-weight: 850;
}

/*NAVIGATION*/

.navigation {
    margin-right: 24px;
}
nav span {
    margin-right: 16px;
}
.navigation a {
    text-decoration: none;
    color: #515570;
}

/* First section */
.container {
    margin: 0 auto;
}

.mainbanner{
    display: flex;
    background-color: #f5f5f8;
    /*width: 100%;
     */
}
.image1 {
    width: 60%;
    margin: 32px 24px;
}
.mainbanner img {
    margin: 32px 24px;
    width: 60%;
}

.learn {
    display: flex;
    height: auto;
    margin-left: 24px;
    margin-right: 72px;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.banner .btn {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: lightskyblue;
    height: 60px;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 0.57);
    transition-property: background-color;
    transition-duration: 220ms;
}
/*
/* container--one&two section 
.container--second {
    display: flex;
    width: 100%;
    background-color: lightblue;
    margin: 0 auto;
}

.container--one {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 32px 24px;
}
.banner--two {
    width: 100%;
    margin-bottom: 32px;
}
.practice {
    margin-bottom: 24px;
}

.container--two {
    display: flex;
    flex-direction: column;
    margin: 32px 24px;
    width: 40%;
    justify-content: space-between;
}
.box {
    display: flex;
    border: 2px solid #000000;
    width: 100%;
    padding: 8px 8px;
    align-items: center;
    height: auto;
}
.box img {
    width: 35%;
}

.box--info {
    margin: 8px 8px;
    width: 65%;
    align-items: center;
    padding-left: 10px;
}
h2 {
    font-size: 18px;
}
p {
    font-size: 15px;
}
*/
/* third section */